@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/Gabarito/Gabarito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Medium";
  src: url("./assets/fonts/Gabarito/Gabarito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Semibold";
  src: url("./assets/fonts/Gabarito/Gabarito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/Gabarito/Gabarito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}



@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .w-inherit {
    width: inherit;
  }
  .slick-dots li.slick-active button:before {
    color: #881798;
    width: 24px;
    height: 24px;
  }
  input[type="datetime-local"]:invalid {
    color: #bdbdbd;
  }
  input[type="checkbox"]:checked {
    background-color: #2b2d31;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e1e4e8;
    border-radius: 999px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e1e4e8;
  }

  /* horizontal scrollbar styles */
  ::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  ::-webkit-scrollbar-track:horizontal {
    background: transparent;
    opacity: 0;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: #e1e4e8;
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #e1e4e8;
  }

  /*Pagination*/
  .pagination__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 16px;
		margin-bottom: 16px; */
  }

  .pagination__container li {
    list-style: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination__container a {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1px 6px;
    font-family: Regular;
    font-size: 14;
    color: #cccccc;
    width: 100%;
    height: 100%;
    border: 1px solid #f0f1f3;
    cursor: pointer;
  }

  .pagination__container a:hover {
    color: #303036;
    background-color: rgba(225, 228, 232, 0.1);
  }

  .pagination__active a {
    background-color: rgba(234, 179, 8, 0.1);
    font-family: Medium;
    font-size: 14;
    color: #efa62e;
    border: 1px solid #efa62e;
  }

  .break-me {
    list-style: none;
  }

  .pagination__prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
  }

  .pagination__prev a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    text-decoration: none;
  }

  .pagination__next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
  }

  .pagination__next a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    text-decoration: none;
  }

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: "#ffe418";
  }

  .custom-line-loader-1 {
    display: grid;
    color: #D7A137;
  }

  .custom-line-loader-1:before,
  .custom-line-loader-1:after {
    content: "";
    grid-area: 1/1;
    --c: linear-gradient(currentColor 0 0);
    background: var(--c), var(--c), var(--c);
    background-repeat: no-repeat;
    animation: l6-1 1.5s infinite linear, l6-2 1.5s infinite linear;
    transform: scale(var(--s,1)) translate(3px,-3px);
  }
  .custom-line-loader-1:after {
    --s:-1;
  }

  @keyframes l6-1 {
    0%,
    3%    {background-size: 0    4px,4px 0   ,0    4px}
    16.67%{background-size: 100% 4px,4px 0   ,0    4px}
    33.33%{background-size: 100% 4px,4px 100%,0    4px}
    46%,
    54%   {background-size: 100% 4px,4px 100%,100% 4px}
    66.67%{background-size: 0    4px,4px 100%,100% 4px}
    83.33%{background-size: 0    4px,4px 0   ,100% 4px}
    96%,
    100%  {background-size: 0    4px,4px 0   ,0    4px}
  }

  @keyframes l6-2 {
    0%,49.9%{background-position: 0    0,100% 0   ,100% 100%}
    50%,100%{background-position: 100% 0,100% 100%,0    100%}
  }
}

@layer components {
  /* text css */
  .toolbar-item {
    @apply flex flex-col items-center p-8 text-gray-400;
  }
  .active-class {
    @apply rounded-8 bg-yellow-300
  }
  .heading {
    @apply font-semi-bold text-16 text-gray-500;
  }
  .error-message {
    @apply text-12 font-medium text-red-500;
  }
  /* card css */
  .card-footer-container {
    @apply flex flex-row items-center justify-end space-x-16 border-t border-t-gray-50 bg-gray-30 px-24 py-13;
  }
  /* modal css */
  .modal-footer-container {
    @apply sticky bottom-0 flex w-full flex-row items-center justify-end rounded-b-8 border-t border-t-gray-50 bg-gray-30 px-24 py-13 shadow-lg;
  }
  /* table css */
  .table-outer-container {
    @apply mx-16 rounded-16 border border-gray-10 bg-white;
  }
  .table-header-regular {
    @apply bg-white font-regular text-gray-300 hover:bg-gray-30 hover:text-gray-500;
  }
  .table-header-sm {
    @apply bg-white font-regular text-gray-300 hover:bg-gray-30 hover:text-gray-500;
  }
  .table-row-regular {
    @apply whitespace-nowrap px-24 py-[12px] text-left text-14;
  }
  .table-row-sm {
    @apply whitespace-nowrap px-16 py-4 text-left text-12;
  }
  .table-row-centered {
    @apply flex flex-col items-center justify-center;
  }
  .table-row-empty {
    @apply py-16 text-center font-regular text-gray-400;
  }
  /* input css */
  .input-large-background {
    @apply bg-gray-50 px-10 py-13 text-16 focus:outline-yellow-300;
  }
  .input-border {
    @apply border border-gray-10 px-16 py-8 outline-none focus:outline-2 focus:outline-offset-0 focus:outline-gray-600;
  }
  .input-mini-border {
    @apply rounded-[4px] border border-gray-10 bg-white py-8 pr-8 text-14 placeholder-gray-500 outline-none;
  }
  .search-input-container {
    @apply input-mini-border min-w-[242px] justify-start rounded-8 bg-white;
  }
  /* button css */
  .button-transition {
    @apply bg-gray-500 text-white transition ease-in-out focus:outline-none hover:bg-white hover:text-gray-500 hover:shadow;
  }
  .danger-button-transition {
    @apply bg-transparent text-gray-400 hover:bg-transparent hover:text-red-500;
  }
  .danger-button-transition-filled {
    @apply bg-red-600 text-white transition ease-in-out focus:outline-none hover:bg-white hover:text-red-600 hover:shadow;
  }

  .bordered-button-transition {
    @apply border border-gray-10 bg-transparent text-gray-500 transition ease-in-out focus:outline hover:border-none hover:bg-yellow-500 hover:text-white hover:outline-2;
  }
  .green-bordered-button {
    @apply border-green-500 bg-green-100 text-green-800 hover:bg-green-600 hover:text-white;
  }
  .red-bordered-button {
    @apply border-red-600 bg-red-100 text-red-600 hover:border-red-600 hover:bg-red-600 hover:text-white;
  }
}
